# Entorno virtual
env

#Pycharm
.idea

# Archivos Multimedia
media/*

# Base de datos
db.*

# Clave ssh
**/*/*.pub

# Archivos de Terraform
**/*/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.terraform.lock.hcl
Backend/__pycache__/allowed_hosts.cpython-311.pyc

.gitignore
.vscode/
Infraestructura/Ansible/hosts.ini
